<table class="ui table">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Date Time</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each assessmentlist.assessments}}
      <tr>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{dateTime}}
        </td>
        <td>
          {{comment}}
        </td>
        <td>
          <a href="/assessmentlist/{{../assessmentlist.id}}/deleteassessment/{{id}}" class="ui tiny red button">Delete Assessment</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>