{{> menu id="dashboard"}}

{{#each assessmentlists}}
<section class="ui segment">
<<<<<<< Updated upstream
  <h2 class="ui header">
    {{title}}
  </h2>
  <table class="ui table">
    <thead>
      <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
      </tr>
    </thead>
    <tbody>
      {{#each assessments}}
        <tr>
          <td>
            {{weight}}
          </td>
          <td>
            {{chest}}
          </td>
          <td>
            {{thigh}}
          </td>
          <td>
            {{upperArm}}
          </td>
          <td>
            {{waist}}
          </td>
          <td>
            {{hips}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
=======
  {{> listassessmentlists}}
  {{> addassessmentlist}}
>>>>>>> Stashed changes
</section>
{{/each}}

<!--
  <section class="ui segment">
  <h2 class="ui header">
    Member Name
  </h2>
  {{> listAssessment}}
</section>

-->